<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.board.repository.LoginRepository">

 <!-- 사용자 조회 -->
<select id="checkLogin" parameterType="map" resultType="com.javalab.board.vo.MemberVo">
    SELECT 
        m.member_id,
        m.password,
        m.name,
        m.email,
        m.phone,
        m.reg_date,
        r.role_id
    FROM 
        member m
    LEFT JOIN 
        role r ON m.role_id = r.role_id
    WHERE 
        m.member_id = #{memberId} 
        AND m.password = #{password}
</select>

</mapper>
